<h1> Edit Figure: </h1>
<p><%=@figure.name%>
<form action="/landmarks/<%=@landmark.id%>" method="post">

<input id="hidden" type="hidden" name="_method" value="patch">


<p>Edit Name: <input type="text" id="figure_name" name="figure[name]" value="<%=@figure.name%>">
<p>Edit Landmarks:
  <% Landmark.all.each do |landmark| %>
  <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%=landmark.id%>" <%='checked' if @figure.landmarks.include?(landmark)%>><%=landmark.name%><br>
  <%end%>

  <p>or Create a new landmark:
    <p>New Landmark: <input type="text" id="new_landmark" name="landmark[name]">

<p>
<p>Edit Titles:
  <% Title.all.each do |title| %>
  <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%=title.id%>" <%='checked' if @figure.titles.include?(title)%>><%=title.name%><br>
  <%end%>

<p>or Create a new title:
  <p>New Title: <input type="text" id="new_title" name="title[name]">


<p><input type="submit" name="submit" id="Edit Figure" value="Edit Figure">
</form>
